html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
  max-width: 60em;
}

main {
  background-color: #f5f20;
  font-family: Georgia;
  padding: 1rem;
}

h1 {
  font-family: "Denk One";
  color: #623b0c;
  margin-top: .25rem;
}

h2 {
  font-family: "Denk One"
  color: #623b0c;
  padding-bottom: .3em;
  margin-top: .25rem;
}

ol li {
  list-style-type: none;
  border: 2px solid #623b0c;
  border-radius: 8px;
  padding: 1rem;
  background-color: #ede3db;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ol li a {
  text-decoration: none;
  color: #fff;
  background-color: #623b0c;
  display: block;
  padding: .5em .75em .6em;
  border-radius: 8px;
}

ol p {
  flex-grow: 1;
  padding-bottom: .5rem;
}

ol img {
  margin-top: .35rem;
  margin-bottom: .35rem;
}

ol {
  padding: 0;
  justify-content: center;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "li li"
  "li li";
}
